@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/proxima_nova/ProximaNovaRegular.eot');
    src: url('../assets/fonts/proxima_nova/ProximaNovaRegular.woff2') format('woff2'), url('../assets/fonts/proxima_nova/ProximaNovaRegular.woff') format('woff'), url('../assets/fonts/proxima_nova/ProximaNovaRegular.ttf') format('truetype')
}

html, body {
    font-family: 'ProximaNova';
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.preview-section {
    height: 100vh;
    width: 100vw;
    background: #F8F5F0;
    position: relative;
}

.preview-section .mhd-loading {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.fake-navbar--placeholder {
    min-height: 100px;
}

.home-container {
    transform: translate(0, 1000px);
    /*opacity: 0;*/
}

.fake-navbar {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
}

.navbar-logo-mobile {
    display: none;
}

.fake-navbar-home {
    /*opacity: 0;*/
    transform: translate(0, 1500px);
}

.fake-navbar .fake-navbar--inner {
    margin-right: 100px;
}

.fake-navbar-other-views .fake-navbar--inner {
    display: none;
}

.fake-navbar .fake-navbar--inner-switch {
    margin: 0 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.fake-navbar .fake-navbar--inner > .masina-btn {
    margin-right: 50px;
    pointer-events: all;
}

.home-start-mobile,
.home-about-mobile,
.home-portfolio-mobile,
.home-contacts-mobile {
    display: none;
}

.home-start,
.home-about,
.home-portfolio,
.home-contacts
    /*.about-us */
{
    max-height: 100vh;
    max-width: 1440px;
    /*min-height: 1024px;*/
    min-height: 850px;
    display: flex;
    margin: 0 auto;
}

.about-us {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
}

.portfolio {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    margin: 50px auto 0 auto;
}

.home-start
    /*.about-us-section-one*/
{
    height: calc(100vh - 100px);
}

/*.home-about,*/
.home-portfolio,
.home-contacts
    /*.about-us-section-three,*/
    /*.about-us-section-four*/
{
    height: 100vh;
}

.home-start .home-start-section-left,
.home-start .home-start-section-right {
    flex: 1 1 0;
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-start .home-start-section-left > img {
    height: auto;
    max-height: 100%;
    width: 100%;
}

.home-start .home-start-section-left {
    background: url("../assets/images/home-1.png");
    background-size: cover;
    margin-left: 100px;
}

.home-start .home-start-section-right {
    /*background: mediumpurple;*/
    margin-right: 100px;
}

.home-start-section-left--panel,
.home-start-section-right--panel {
    display: flex;
    /*width: 100%;*/
    align-items: center;
    justify-content: center;
    /*height: 50%;*/
    width: 560px;
    height: 560px;
}

.home-start-section-left--panel {
    margin-left: 60px;
    background: rgba(180, 162, 132, 0.4);
}

.home-start-section-right--panel {
    margin-right: 60px;
    background: rgba(248, 245, 240, 0.6);
}

.home-about,
.home-portfolio,
.home-contacts
    /*.about-us-section-two,*/
    /*.about-us-section-three*/
{
    position: relative;
    margin-top: 40px;
    /*background: rebeccapurple;*/
}

.about-us-section-four {
    position: relative;
    margin-top: 150px;
    margin-bottom: 140px;
    min-height: 842px;
}

.home-about .home-about--inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../assets/images/home-2.png");
    background-size: cover;
    height: 60%;
    width: 50%;
}

.home-about .home-about--inner .home-about--inner-text {
    position: absolute;
    /*top: 100%;*/
    top: 600px;
    background: #fff;
    height: 60%;
    width: 50%;
    left: -1px;
}

.home-about .home-about--inner .home-about--inner-text .home-about--inner-text-container {
    height: 80%;
    margin-top: 23%;
    /*width: 100%;*/
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-about .tree-rings-spacekiller {
    position: absolute;
    top: 8%;
    left: -5%;
    z-index: 1;
    height: 55%;
    pointer-events: none
}

.home-portfolio {
    z-index: -1;
}

.home-portfolio .home-portfolio--inner {
    margin: 0 100px;
    /*background: mediumpurple;*/
    position: relative;
    height: 100%;
    width: 100%;
}

.home-portfolio .home-portfolio--inner .home-portfolio-image {
    position: absolute;
}

.abs-1 {
    top: 720px;
    z-index: 2;
}

.abs-2 {
    top: 580px;
    left: 29%;
    z-index: 3;
}

.abs-3 {
    top: 800px;
    left: 23%;
    z-index: 4;
}

.abs-4 {
    top: 450px;
    z-index: 5;
}

.home-portfolio .home-portfolio--inner-text-container {
    position: absolute;
    height: 30%;
    width: 50%;
    top: 32%;
    left: 50%;
    z-index: 6;
}

.home-portfolio--inner-text-container .main-heading {
    position: absolute;
    top: 0;
    left: 0;
}

.home-portfolio--inner-text-container .main-text {
    position: absolute;
    width: 50%;
    top: 60px;
    left: 15%;
}

.home-portfolio--inner-text-container .main-cta {
    position: absolute;
    top: 240px;
    left: 38%;
}

.home-contacts .home-contacts--inner {
    margin: 0 100px;
    position: relative;
    height: 100%;
    width: 100%;
}

.home-contacts .home-contacts--inner > img {
    position: absolute;
    top: 15%;
    left: 45%;
    height: 80%;
}

.home-contacts .home-contacts--inner .home-contacts--inner-text-container {
    position: absolute;
    top: 27%;
    left: 5%;
}

.home-contacts .home-utils--section-margin {
    margin-left: 90px;
    margin-top: 80px;
}

.home-contacts .home-utils--section-margin .secondary-heading {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.home-contacts .home-utils--section-margin .secondary-heading span {
    margin-left: 20px;
}

.home-contacts .home-utils--section-margin .main-text {
    margin-top: 10px;
    margin-left: 43px;
    letter-spacing: 0.2em;
}

.footer {
    background: #F8F5F0;
    min-height: 260px;
    width: 100%;
    display: flex;
}

.footer .footer--inner {
    width: 100%;
    margin: 50px 200px 0 200px;
    display: flex;
    justify-content: space-between;
}

.footer .footer--inner .footer--inner-left {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .secondary-heading {
    font-size: 14px;
}

.footer .secondary-text {
    letter-spacing: 0.1em;
}

.footer--inner-section.footer-follow .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer--inner-section.footer-follow .social-icons > div {
    cursor: pointer;
}

.footer .footer--inner-section {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
}

.footer .footer--inner-section > div:not(:first-child) {
    margin-top: 20px;
    cursor: pointer;
}

.footer .footer--inner-logo {
    margin-top: 30px;
}

.about-us {
    /*background: blueviolet;*/
}

/*.about-us img {*/
/*    height: auto;*/
/*    width: 100%;*/
/*}*/

.about-us-section-one .about-us-section-one--left,
.about-us-section-one .about-us-section-one--right,
.about-us-section-two .about-us-section-two--left,
.about-us-section-two .about-us-section-two--right {
    flex: 1 1 0;
}

.about-us-section-two,
.about-us-section-three {
    margin-top: 400px;
}

.about-us-section-three {
    position: relative;
}

.about-us-section-one--left,
.about-us-section-two--left {
    position: relative;
    margin-left: 100px;
    z-index: 5;
}

.about-us-section-one--left-inner {
    margin-left: 150px;
    margin-top: 50px;
}

.about-us-section-one--left-inner .secondary-heading-enhanced {
    margin-top: 25%;
}

.about-us-section-one--left-inner .secondary-text-enhanced {
    margin-top: 40px;
}

.about-us-section-one--right,
.about-us-section-two--right {
    margin-right: 100px;
    position: relative;
}

/*.about-us-section-one--right > img {*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    left: 100px;*/
/*}*/

.about-us-section-one--right > img {
    position: absolute;
    top: 50px;
    left: 100px;
}

.about-us-section-one--right > .about-us-section-one--right-img-phantom {
    visibility: hidden;
    min-height: 640px;
    min-width: 352px;
}

.about-us-section-three > .about-us-section-three--img-phantom {
    visibility: hidden;
    min-height: 889px;
    min-width: 675px;
}

/*.about-us-section-four > .about-us-section-four--img-phantom {*/
/*    visibility: hidden;*/
/*    min-height: 842px;*/
/*    min-width: 675px;*/
/*}*/

.about-us-infobox {
    display: flex;
    /*gap: 40px;*/
    margin-top: 80px;
}

.about-us-infobox .infobox {
    display: flex;
    flex-direction: column;
}

.about-us-infobox .infobox:not(:last-child) {
    margin-right: 25px;
}

.about-us .text-right-bordered {
    border-right: 1px solid rgba(55, 55, 55, 0.5);
    padding-right: 30px;
}

.about-us-infobox .number {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #C09A5B;
}

.about-us-infobox .text {
    font-weight: 600;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #373737;
}

.about-us-section-two {
    display: flex;
    align-items: center;
}

.about-us-section-two .about-us-section-two--right {
    margin-left: 50px;
}

.about-us-section-two .about-us-section-two--right > .tree-rings-spacekiller {
    position: absolute;
    top: -120px;
    left: -400px;
    z-index: 1;
}

.about-us-section-two .secondary-text-enhanced {
    margin-top: 50px;
}

.about-us-section-three > .tree-rings-spacekiller {
    position: absolute;
    top: 47%;
    left: 30%;
    z-index: 1;
}

.about-us-section-three .about-us-section-three--left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.about-us-section-three .about-us-section-three--right {
    position: absolute;
    /*top: 50px;*/
    /*top: 830px;*/
    top: 250px;
    left: 50%;
    z-index: 5;
}

.about-us-section-four .about-us-section-four--inner {
    margin-left: 100px;
    margin-right: 100px;
}

.about-us-section-four .about-us-section-four-mobile-text-plus {
    display: none;
}

.about-us-section-four .about-us-section-four--left {
    position: absolute;
    top: 50%;
    /*top: 80%;*/
    transform: translate(0, -50%);
    z-index: 5;
}

.about-us-section-four .about-us-section-four--top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.about-us-section-four .about-us-section-four--inner-text {
    position: absolute;
    /*top: 53%;*/
    top: 500px;
    left: 40%;
    display: flex;
    flex-direction: column;
}

.about-us-section-four .about-us-section-four--inner-text-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 70%;
}

.about-us-section-four .about-us-section-four--inner-text-section .secondary-text-enhanced:not(:first-child) {
    margin-left: 100px;
}

.about-us-section-four--inner .get-in-touch {
    position: absolute;
    /*bottom: 120px;*/
    bottom: 40px;
    right: 250px;
}

/* PORTFOLIO ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */
.img-hover-zoom {
    /*height: 300px; !* [1.1] Set it as per your need *!*/
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    cursor: pointer;
    position: relative;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom .pf-bg {
    transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover .pf-bg {
    transform: scale(1.1);
}

.img-hover-zoom .rect-full {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    background: transparent;
    border: 1px solid #fff;
    opacity: 0;
    transition: 1s ease;
}

.img-hover-zoom .rect-prev {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 250px;
    background: #C09A5B;
    z-index: 1;
    transform: translate(-500%, -50%);
    transition: transform 1.5s ease;
}

.img-hover-zoom .rect-next {

    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 250px;
    background: #fff;
    z-index: 2;
    transform: translate(-400%, -50%);
    transition: transform 1s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-hover-zoom .rect-next .secondary-heading {
    text-align: center;
}

.img-hover-zoom:hover > .rect-full {
    opacity: 1;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
}

.img-hover-zoom:hover > .rect-prev {
    transform: translate(-50%, -50%);
    transition-duration: .5s;
}

.img-hover-zoom:hover > .rect-next {
    transform: translate(-50%, -50%);
}


/*________________________*/

.pf-container {
    margin: 0 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: 35vh;
    grid-gap: 20px;
    grid-auto-flow: dense;
}

.pf-container .pf-bg {
    height: 100%;
    width: 100%;

    /*background-image: url("../assets/images/project-1.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50% 50%;*/
    background-position: 50% 70%;
}

.pf-container .pf-bg.pf-carmen {
    background-image: url("../assets/images/carmen/6.jpg");
}

.pf-container .pf-bg.pf-villa {
    background-image: url("../assets/images/abu-dhabi-villa/2.jpg");
}

.pf-container .pf-bg.pf-boulevard-heights {
    background-image: url("../assets/images/boulevard-heights/6.jpg");
}

.pf-container .pf-bg.pf-al-manara {
    background-image: url("../assets/images/al-manara/9.jpg");
}

.pf-container .pf-bg.pf-palace {
    background-image: url("../assets/images/abu-dhabi-palace/4.jpg");
}

.pf-container .pf-bg.pf-bvlgari {
    background-image: url("../assets/images/bvlgari/4.jpg");
}

.pf-container .pf-bg.pf-jumeirah-palm {
    background-image: url("../assets/images/jumeirah-palm/6.jpg");
}

.pf-container .pf-bg.pf-marina {
    background-image: url("../assets/images/marina/4.jpg");
}

.pf-container .pf-bg.pf-saadiyat {
    background-image: url("../assets/images/abu-dhabi-saadiyat/9.jpg");
}

.horizontal {
    grid-column: span 2;
}

/*.vertical {*/
/*    grid-row: span 2;*/
/*}*/

.big {
    grid-column: span 2;
    grid-row: span 2;
}

/*_________________________*/


.portfolio .portfolio--inner {
    margin: 0 150px;
    /*width: 100%;*/
    position: relative;
    /*background: purple;*/
}

.portfolio .portfolio--inner .tree-rings-spacekiller {
    position: absolute;
    top: 60px;
    left: 34%;
    z-index: 1;
    pointer-events: none;
}

.portfolio .portfolio--inner .portfolio--inner-start {
    position: relative;
    z-index: 5;
    width: 50%;
}

.portfolio .portfolio--inner .portfolio--inner-start .secondary-text-enhanced {
    margin-top: 30px;
}

.portfolio .portfolio--inner-projects {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.portfolio .project {
    cursor: pointer;
}

.portfolio .project-left .project {
    margin-top: 300px;
}

.portfolio .project-right .project:not(:first-child) {
    margin-top: 200px;
}

.portfolio .project .secondary-heading-enhanced {
    margin-top: 40px;
}

.portfolio .project .secondary-text-enhanced {
    margin-top: 10px;
}

.project--final-section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FINE PORTFOLIO /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PROJECT DETAIL /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.project-detail {
    max-width: 1440px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.project-detail img {
    height: auto;
    width: 100%;
}
/* fix imgs size */

.main-section-img img {
    max-height: 656px;
    max-width: 460px;
}

.drop-section-first img {
    max-height: 544px;
    max-width: 827px;
}

.drop-section-second img {
    max-height: 413px;
    max-width: 214px;
}

.combo-section-type-one--one img {
    max-height: 489px;
    max-width: 705px;
}

.combo-section-type-one--two img {
    max-height: 1057px;
    max-width: 705px;
}

.control-section-img img {
    max-height: 705px;
    max-width: 1116px;
}

.combo-section-type-two--one img {
    max-height: 674px;
    max-width: 460px;
}

.combo-section-type-two--two img {
    max-height: 889px;
    max-width: 583px;
}

/* fine fix imgs size */

.project-detail .project-detail--inner {
    margin: 0 125px;

    display: flex;
    flex-direction: column;

    /*background: rgba(128, 0, 128, 0.29);*/
}

.main-section {
    display: flex;
    flex-direction: row;
}

.main-section .main-section-phantom {
    visibility: hidden;
}

.main-section .main-section-text,
.main-section .main-section-phantom {
    flex: 1;
}

.main-section .main-section-text {
    margin-top: 180px;
}

.main-section .main-section-text .main-text {
    margin-top: 30px;
}

.drop-section {
    display: flex;
    flex-direction: row;

    margin-top: 180px;
}

.drop-section .drop-section-second {
    margin-top: 180px;
    margin-left: 30px;
}

.combo-section-type-one {
    display: flex;
    flex-direction: row;

    position: relative;

    margin-top: 180px;
}

.combo-section-type-one .combo-section-type-one--one {
    position: absolute;
    top: 320px;
    left: 0;
    z-index: 2;
}

.combo-section-type-one .combo-section-type-one--two {
    position: absolute;
    right: 130px;
    z-index: 1;
}

.combo-section-type-one .combo-section-type-one--phantom {
    visibility: hidden;
}

.control-section {
    display: flex;
    flex-direction: row;

    margin-top: 180px;
}

.combo-section-type-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 180px;
}

.combo-section-type-two .combo-section-type-two--one {
    margin-top: 40px;
    margin-right: 30px;
}

.project-detail .project-detail--final-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-detail .project-detail--final-section .get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-detail .project-detail--final-section .get-in-touch .main-cta {
    margin-top: 20px;
}

/* FINE PROJECT DETAIL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.projects-sm-device {
    display: none;
    flex-direction: column;
    align-items: center;
}

.projects-sm-device .project:not(:first-child) {
    margin-top: 110px;
}

.projects-sm-device .project img {
    height: auto;
    width: 100%;
}


/* ___ */

.home-start-main-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.home-link,
.home-link--detail{
    cursor: pointer;
    pointer-events: all;
}

.svg-mail {
    display: block;
    text-indent: -9999px;
    width: 25px;
    height: 20px;
    background: url(../assets/images/email-sm.svg);
    background-size: contain;
}

.svg-phone {
    display: block;
    text-indent: -9999px;
    width: 22px;
    height: 22px;
    background: url(../assets/images/phone-sm.svg);
    background-size: contain;
}

.svg-marker {
    display: block;
    text-indent: -9999px;
    width: 16px;
    height: 21px;
    background: url(../assets/images/marker-sm.svg);
    background-size: contain;
}

.main-heading {
    color: #C09A5B;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.secondary-heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #C09A5B;
}

.secondary-heading-enhanced {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #C09A5B;
}

.secondary-heading-enhanced a {
    color: inherit;
}

.main-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}

.main-text a {
    color: inherit;
}

.main-text-enhanced {
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
    color: #333333;
}

.secondary-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: #000000;
}

.secondary-text a {
    color: inherit;
}

.secondary-text-enhanced {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}

.main-cta {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #B29E75;
}

.main-cta img {
    width: auto;
}

.masina-btn {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: #C09A5B;
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 0.5px 11px;
    line-height: 30px;
    outline: 0;
    border: 0.5px solid #B29E75;
    cursor: pointer;
    text-transform: uppercase;
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/*____*/


/* PREVIEW ANIMATION */

.tree-rings {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: dash 5s forwards linear;
}

.mhd {
    opacity: 0;
    -webkit-animation: fading ease-in 1s;
    animation: fading ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

@keyframes dash {
    100% {
        stroke-dashoffset: 800;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.opacity-transition {
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
    transition: 2.5s;
    /*opacity: 1;*/
    transform: translate(0);
}

.full-menu.opacity-transition-menu {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.vertical-translate-off {
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
    transition: 2.5s;
    /*opacity: 0;*/
    transform: translate(0, -2000px);
}

.hide-brute {
    display: none;
}

/* END PREVIEW ANIMATION */

/* CUSTOM SCROLL */
/* END CUSTOM SCROLL*/

/*small monitor_____________________________________________________________________________________________________________________________________________________*/
@media only screen
and (min-width: 1024px)
and (max-width: 1439px) {
    /*default design*/
    .home-container {
        /*background: rgba(255, 0, 0, 0.36);*/
    }

    .home-start-section-left--panel,
    .home-start-section-right--panel {
        width: 100%;
    }

    .home-portfolio .home-portfolio--inner-text-container {
        left: 53%;
    }

    .home-portfolio--inner-text-container .main-text {
        left: 25%;
    }

    .home-contacts .home-contacts--inner .home-contacts--inner-text-container {
        left: 0;
    }

    .home-contacts .home-utils--section-margin {
        margin-left: 40px;
    }

    /*.about-us-section-four .about-us-section-four--inner-text {*/
    /*    top: 55%*/
    /*}*/
    .pf-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    }

    .portfolio .portfolio--inner .portfolio--inner-start {
        width: 100%;
        text-align: center;
    }

    .portfolio .portfolio--inner-projects {
        display: block;
    }

    .project-left,
    .project-right {
        display: none;
    }

    .projects-sm-device {
        display: flex;
    }

    .combo-section-type-one .combo-section-type-one--one {
        top: 680px;
    }

    .combo-section-type-one .combo-section-type-one--two {
        right: 0;
    }


}

/*pad_____________________________________________________________________________________________________________________________________________________*/
@media only screen
and (min-width: 768px)
and (max-width: 1023px) {
    .line-test {
        display: none;
    }

    /*small laptops*/
    /* HOME */
    .home-start .home-start-section-left,
    .home-start-section-left--panel {
        margin-left: 0;
    }

    .home-start .home-start-section-right,
    .home-start-section-right--panel {
        margin-right: 0;
    }

    .home-start-section-left--panel,
    .home-start-section-right--panel {
        width: 100%;
    }

    .fake-navbar .fake-navbar--inner {
        margin-right: 0;
    }

    .home-about .home-about--inner .home-about--inner-text {
        left: 0;
    }

    .home-about .home-about--inner .home-about--inner-text .home-about--inner-text-container {
        margin: 20px;
        height: 100%;
    }

    .home-portfolio .home-portfolio--inner-text-container {
        width: 64%;
        height: 30%;
        top: 65%;
        left: 53%;
        background: #fff;
    }

    .home-portfolio--inner-text-container-exp {
        height: 100%;
        width: 100%;
        margin: 20px 0;
        position: relative;
    }

    .home-portfolio--inner-text-container .main-heading {
        left: 20px;
    }

    .home-portfolio--inner-text-container .main-text {
        left: 25%;
    }

    .home-contacts .home-contacts--inner {
        margin: 0;
    }

    .home-contacts .home-contacts--inner > img {
        top: 25%;
        left: unset;
        right: 0;
        height: auto;
        width: 35%;
    }

    .home-contacts .home-contacts--inner .home-contacts--inner-text-container {
        left: 0;
    }

    .home-contacts .home-utils--section-margin {
        margin-left: 40px;
    }

    .footer .footer--inner {
        margin: 50px 20px;
    }

    /* FINE HOME */
    /* ABOUT US */
    .about-us-section-one--left,
    .about-us-section-two--left {
        margin-left: 0;
    }

    .about-us-section-one--right,
    .about-us-section-two--right {
        margin-right: 0;
    }

    .about-us-section-one--left-inner {
        margin-left: 50px;
    }

    .about-us-section-one--right > img {
        left: unset;
        right: 0;
    }

    .about-us-section-two--left > img {
        height: auto;
        width: 100%;
    }

    .about-us-section-two--left,
    .about-us-section-two--right {
        flex: 1 1 0;
    }

    .about-us-section-four .about-us-section-four--inner-text {
        top: 57%;
    }

    .about-us-section-four .about-us-section-four--inner {
        margin: 0;
    }

    .about-us-section-four .about-us-section-four--left {
        height: auto;
        width: 35%;
    }

    .about-us-section-four .about-us-section-four--inner-text-section {
        width: 95%;
    }

    .about-us-section-four--inner .get-in-touch {
        bottom: 0;
        right: 0;
    }

    .pf-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    }

    .portfolio .portfolio--inner .portfolio--inner-start {
        width: 100%;
        text-align: center;
    }

    .portfolio .portfolio--inner-projects {
        display: block;
    }

    .project-left,
    .project-right {
        display: none;
    }

    .projects-sm-device {
        display: flex;
    }
}

/*mobile_____________________________________________________________________________________________________________________________________________________*/
@media screen
and (min-width: 0)
and (max-width: 767px) {

    .line-test {
        display: none;
    }

    body {
        background: #F9F5ED;
    }

    .navbar-logo-mobile {
        display: block;
    }

    .fake-navbar--placeholder {
        min-height: 60px;
    }

    .fake-navbar {
        min-height: 60px;
        align-items: unset;
        justify-content: unset;
        background: rgba(249, 245, 237, 0.8);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .fake-navbar .fake-navbar--inner {
        margin-right: 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .fake-navbar .fake-navbar--inner > .masina-btn {
        margin-right: 0;
    }

    .fake-navbar-other-views .fake-navbar--inner-switch {
        display: none;
    }

    .fake-navbar-other-views .fake-navbar--inner {
        display: flex;
    }

    /*768 ipad*/
    .home-container {
        /*background: purple;*/
    }

    .home-start,
    .home-about,
    .home-portfolio,
    .home-contacts {
        display: none;
    }

    .home-start-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*justify-content: center;*/
        height: calc(100vh - 60px);
        max-height: 100vh;
        margin: 0;
    }

    .home-start-mobile .tree-rings-spacekiller-sm {
        position: absolute;
        top: 80px;
        right: 55px;
        z-index: -1;
    }

    .home-start-mobile-mhd-text {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.5em;
        color: #C09A5B;

        margin-top: 60px;
        margin-bottom: 20px;
    }

    .home-start-mobile-bg-img {
        background: url("../assets/images/home-1.png");
        background-size: cover;
        height: 60%;
        width: 60%;
    }

    .home-about-mobile,
    .home-portfolio-mobile,
    .home-contacts-mobile {
        display: flex;
        position: relative;
        max-height: 100vh;
        /*height: 100vh;*/
        height: 90vh;
        /*margin-top: 100px;*/
    }

    .home-about-mobile-bg-img {
        background: url("../assets/images/home-2.png");
        background-size: cover;
        height: 50%;
        width: 100%;
    }

    .home-about-mobile-box {
        position: absolute;
        background: #fff;
        top: 22%;
        width: 70%;
        right: 0;
        min-height: 300px;
        min-width: 270px;
        display: flex;
        flex-direction: column;
    }

    .home-about-mobile-box .title {
        margin-top: 40px;
        margin-left: 30px;

        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
    }

    .home-about-mobile-box .text {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 20px;

        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #333333;
    }

    .home-about-mobile-box a {
        margin-top: 30px;
        margin-left: 120px;
        margin-bottom: 24px;

        font-weight: 600;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #B29E75;

        display: flex;
        align-items: center;
    }

    .home-about-mobile-box a img {
        margin-left: 10px;
    }

    .home-portfolio-mobile {
        flex-direction: column;
        align-items: center;
    }

    .home-portfolio-mobile .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
    }

    .home-portfolio-mobile .images-bulk {
        position: relative;
        min-height: 300px;
        width: 100%;
        margin-top: 30px;
    }

    .home-portfolio-mobile .images-bulk .img-1 {
        position: absolute;
        height: auto;
        width: 50%;
        left: 40px;
        top: 0;
    }

    .home-portfolio-mobile .images-bulk .img-2 {
        position: absolute;
        height: auto;
        width: 60%;
        left: 130px;
        top: 150px;
    }

    .home-portfolio-mobile .text {
        margin: 30px 60px;
        text-align: center;

        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #333333;
    }

    .home-portfolio-mobile a {
        font-weight: 600;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #B29E75;

        display: flex;
        align-items: center;
    }

    .home-portfolio-mobile a img {
        margin-left: 10px;
    }

    .home-contacts-mobile {
        flex-direction: column;
        align-items: center;
    }

    .home-contacts-mobile .home-contacts-mobile-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
    }

    .home-contacts-mobile .home-contacts-mobile-bg-img {
        background: url(../assets/images/home-contacts.png);
        background-size: cover;
        height: 60%;
        width: 60%;
        margin-top: 30px;
    }

    .home-contacts-mobile .home-contacts-mobile-icons {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    .home-contacts-mobile .home-contacts-mobile-icons a:not(:last-child) {
        margin-right: 64px;
    }

    .section-reminder {
        position: absolute;
        bottom: 0;
        right: 0;

        height: 60px;
        width: 40px;

        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
    }

    .section-reminder .section-reminder--inner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .section-reminder .section-reminder--inner .frst {
        position: absolute;
        top: 0;
        left: 0;
    }

    .section-reminder .section-reminder--inner .slash {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .section-reminder .section-reminder--inner .scnd {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .section-reminder.left {
        left: 0;
        margin-left: 10px;
    }

    .section-reminder.right {
        right: 0;
        margin-right: 10px;
    }

    /* FINE HOME _____________________________________________________________*/
    /* INIZIO ABOUT US _____________________________________________________________*/
    .about-us-section-one {
        flex-direction: column;
        max-height: 150vh;
        height: calc(150vh - 100px);
    }

    /*.about-us-section-one .about-us-section-one--left,*/
    /*.about-us-section-one .about-us-section-one--right,*/
    /*.about-us-section-two .about-us-section-two--left,*/
    /*.about-us-section-two .about-us-section-two--right {*/
    /*    flex: unset;*/
    /*}*/
    .about-us-section-one--left,
    .about-us-section-two--left {
        margin-left: 0;
    }

    .about-us-section-one--left-inner {
        margin-left: 0;
    }

    .about-us-section-one--left-inner .main-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
        text-align: center;
    }

    .about-us-section-one--left-inner .secondary-heading-enhanced {
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #C09A5B;
        margin-top: 40px;
    }

    .about-us-section-one--left-inner .secondary-text-enhanced {
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #333333;
        /*margin-top: 30px;*/
        margin: 30px 30px 0 30px;
    }

    .about-us-infobox {
        margin-top: 60px;
        align-items: center;
        justify-content: center;
    }

    .about-us-section-one--right,
    .about-us-section-two--right {
        margin-right: 0;
    }

    .about-us-section-one--right {
        margin-top: 20px;
    }

    .about-us-section-one--right > img {
        /*top: 60px;*/
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        /*height: auto;*/
        /*width: 50%;*/
        height: 100%;
        width: auto;
    }

    .about-us-section-one--right > .about-us-section-one--right-img-phantom {
        display: none;
    }

    .about-us-section-two {
        flex-direction: column-reverse;
        justify-content: flex-end;
        /*max-height: 150vh;*/
        /*height: 150vh;*/
        height: auto;
        margin-top: 60px;
    }

    .about-us-section-two .about-us-section-two--left {
        /*margin-top: 200px;*/
        margin-top: 100px;
        text-align: center;
    }

    .about-us-section-two .about-us-section-two--left img {
        height: auto;
        width: 90%;
    }

    .about-us-section-two .about-us-section-two--right {
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-us-section-two--right .secondary-heading-enhanced {
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #C09A5B;
        margin-top: 40px;
    }

    .about-us-section-two--right .secondary-text-enhanced {
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #333333;
        /*margin-top: 30px;*/
        margin: 30px 30px 0 30px;
    }

    .about-us.about-us-section-three {
        height: 40vh;
        margin-top: 12px;
    }

    .about-us-section-three > .about-us-section-three--img-phantom {
        display: none;
    }

    .about-us-section-three > .tree-rings-spacekiller {
        display: none;
    }

    .about-us-section-three .about-us-section-three--left {
        height: auto;
        width: 55%;
    }

    .about-us-section-three .about-us-section-three--right {
        top: 50px;
        left: unset;
        right: 0;
        height: auto;
        width: 40%;
    }

    /*.big-separator {*/
    /*    height: 100px;*/
    /*    width: 100%;*/
    /*}*/
    .about-us-section-four {
        margin-top: 0;
        /*display: none;*/
        margin-bottom: 150px;
        max-height: none;
        height: auto;
    }

    .about-us-section-four .about-us-section-four--inner {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-us-section-four .about-us-section-four--top {
        display: none;
    }

    .about-us-section-four .about-us-section-four--inner-text {
        /*top: 0;*/
        /*left: 0;*/
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-section-four .about-us-section-four--inner-text .secondary-heading-enhanced {
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #C09A5B;
        margin-top: 40px;
    }

    .about-us-section-four .about-us-section-four-mobile-text-plus {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #333333;
        margin: 60px 60px 0 60px;
    }

    .about-us-section-four .about-us-section-four--inner-text .secondary-text-enhanced {
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #333333;
        /*margin-top: 30px;*/
        margin: 30px 60px 0 60px;
    }

    .about-us-section-four .about-us-section-four--inner-text-section {
        margin-top: 0;
        width: 100%;
    }

    .about-us-section-four .about-us-section-four--inner-text-section .secondary-text-enhanced:not(:first-child) {
        display: none;
    }

    .about-us-section-four--inner .get-in-touch {
        display: none;
    }

    .about-us-section-four .about-us-section-four--left {
        position: static;
        transform: unset;
        margin-top: 30px;
        height: auto;
        width: 90%;
        max-height: 550px;
        max-width: 360px;
    }

    /* FINE ABOUT US _____________________________________________________________*/
    .pf-container {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    }

    .portfolio {
        background: #F9F5ED;
    }

    .portfolio .portfolio--inner {
        margin: 0;
    }

    .portfolio--inner .tree-rings-spacekiller {
        display: none;
    }

    .portfolio .portfolio--inner .portfolio--inner-start {
        width: 100%;
        text-align: center;
    }

    .portfolio .portfolio--inner .portfolio--inner-start .main-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #C09A5B;
    }

    .portfolio .portfolio--inner .portfolio--inner-start .main-text-enhanced {
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        color: #333333;
        margin: 50px 50px 0 50px;
    }

    .portfolio .portfolio--inner .portfolio--inner-start .secondary-text-enhanced {
        margin-right: 50px;
        margin-left: 50px;
        line-height: 28px;
    }

    .portfolio .portfolio--inner-projects {
        display: block;
        margin-top: 50px;
    }

    .project-left,
    .project-right {
        display: none;
    }

    .projects-sm-device {
        display: flex;
    }

    .projects-sm-device .project .secondary-heading-enhanced {
        margin-top: 30px;
    }

    .projects-sm-device .project .main-text {
        /*margin-top: 30px;*/
        margin-top: 10px;
    }

    .project--final-section {
        display: none;
    }

    /* PROJECT DETAIL /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    .project-detail .project-detail--inner {
        margin: 0;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section .main-section-text {
        margin-top: 60px;
    }

    .main-section .main-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        text-align: center;
    }

    .main-section .main-text {
        display: none;
    }

    .main-section .main-section-img {
        margin: 24px 90px 0 90px;
    }

    .main-section .main-section-phantom {
        visibility: visible;

        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        margin-top: 24px;
    }

    .drop-section {
        flex-direction: column;
        margin-top: 80px;
    }

    .drop-section .drop-section-second {
        margin: 60px 60px 0 60px;
    }

    .combo-section-type-one {
        margin-top: 60px;
    }

    .combo-section-type-one .combo-section-type-one--one {
        position: static;
    }

    .combo-section-type-one .combo-section-type-one--two {
        position: static;
        margin-left: 15px;
    }

    .combo-section-type-one .combo-section-type-one--phantom {
        display: none;
    }

    .control-section {
        margin-top: 60px;
    }

    .combo-section-type-two {
        margin-top: 60px;
        flex-direction: row-reverse;
    }

    .combo-section-type-two .combo-section-type-two--one {
        margin-right: 0;
    }

    .combo-section-type-two .combo-section-type-two--two {
        margin-right: 30px;
    }

    .project-detail--final-section .get-in-touch > div {
        display: none;
    }

    .footer {
        background: #FBFAF8;
        border-top: 0.016em solid #C09A5B;
    }

    .footer .footer--inner {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer--inner .footer--inner-left {
        flex-direction: column;
        align-items: center;
    }

    .footer--inner-right {
        margin: 80px 0;
    }

    .footer .footer--inner-section {
        align-items: center;
        margin-top: 40px;
    }

    .footer--inner-section.footer-follow .social-icons {
        width: 100%;
    }

    .full-menu .secondary-heading-enhanced {
        font-size: 16px;
    }

    .full-menu .svg-close {
        top: 30px !important;
        right: 30px !important;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .home-start-mobile,
    .home-about-mobile,
    .home-portfolio-mobile,
    .home-portfolio-mobile {
        min-height: 662px;
    }

    .about-us:not(.about-us-section-three) {
        min-height: 850px;
    }

    .about-us-section-three {
        min-height: 533px;
    }
}

.line-test {
    position: absolute;
    width: 1px;
    /*top: 152px;*/
    top: 20vh;
    right: 100px;
    /*height: 720px;*/
    height: 50vh;
    background: #C09A5B;
}

.burger-menu-mobile {
    all: unset;
}

.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.full-menu .tree-rings-spacekiller-menu {
    background: url(../assets/images/tree-rings.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 150px;
    position: absolute;
    z-index: -1;
}

.full-menu .secondary-heading-enhanced:not(:first-child) {
    margin-top: 64px;
}

.full-menu .svg-close {
    position: absolute;
    top: 60px;
    right: 60px;
}

.svg-close {
    display: block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: url(../assets/close-full-menu.svg);
    background-size: contain;
    cursor: pointer;
}

.burger-menu {
    cursor: pointer;
    pointer-events: all;
}

.scroll-hidden {
    overflow: hidden;
}